/* Write your global styles here, in PostCSS syntax */

@import url("https://fonts.googleapis.com/css2?family=Hahmlet&family=Josefin+Sans:wght@400;500&family=Noto+Serif&family=Open+Sans:wght@500&family=Oxygen:wght@300&family=Raleway&family=Roboto+Slab:wght@500&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  background-color: transparent;
  width: 0.6rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #1e293b;
}

.glass-rounded {
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glass {
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
